tunnel: {{ cloudflared_tunnel_token }}
no-autoupdate: false

ingress:
{% for rule in cloudflared_ingress %}
  - hostname: {{ rule.hostname }}
    service: {{ rule.service }}
{% endfor %}
  - service: http_status:404
