[defaults]
inventory=inventory.ini
roles_path=$HOME/.ansible/roles:roles
host_key_checking=False
pipelining=True
forks=10
stdout_callback=default
result_format=yaml

[ssh_connection]
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o ForwardAgent=yes
pipelining=True
control_path=%(directory)s/%%h-%%p-%%r
